<link href="css/ruta.css" rel="stylesheet">
<div id="page-content" ng-init="init()">
    <div class="row ">
        <div class="col-sm-10 col-sm-push-1 mar-top">
            <div id="">
                <h1 class="page-header text-overflow">Rutas</h1>
                </h1>
            </div>
        </div>
        <div class="col-sm-10 col-sm-push-1 mar-top ">
            <div class="panel ">
                <div class="panel-body pad-top mar-top">
                    <div class="col-sm-6  col-xs-12">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-3 ">Empresa:</label>
                                <div class="col-sm-8">
                                    <select ng-change="cambioEmpresa()" id="selEmpresas" class="form-control" ng-options="empresa as empresa.emp_nombre for empresa in empresas track by empresa.emp_idempresa" ng-model="empresaActual"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2  col-xs-12">&nbsp;</div>
                    <div class="col-sm-4  col-xs-12" ng-hide="newRuta">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <div class="col-sm-11 control-label">
                                        <a class="form-control btn btn-block btn-primary" ng-click="verModalRuta(true,1);" style="font-size: 11px">Nueva Ruta</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row  col-sm-12  recuadro" ng-show="gridRutas" style="margin-top: 50PX">
                        <div class="col-sm-12  mar-top">
                            <table id="tblRutas">
                                <thead>
                                    <tr>
                                        <th st-class-ascent="fa fa-sort-asc" st-class-descent="fa fa-sort-desc" st-skip-natural="true" st-sort="operador">
                                            Folio
                                        </th>
                                        <th st-class-ascent="fa fa-sort-asc" st-class-descent="fa fa-sort-desc" st-skip-natural="true" st-sort="operador">
                                            Operador
                                        </th>
                                        <th st-class-ascent="fa fa-sort-asc" st-class-descent="fa fa-sort-desc" st-skip-natural="true" st-sort="unidad">
                                            Unidad
                                        </th>
                                        <th st-class-ascent="fa fa-sort-asc" st-class-descent="fa fa-sort-desc" st-skip-natural="true" st-sort="situacion">
                                            Situación
                                        </th>
                                        <th st-class-ascent="fa fa-sort-asc" st-class-descent="fa fa-sort-desc" st-skip-natural="true" st-sort="editar">
                                            Editar
                                        </th>
                                       
                                        <th st-class-ascent="fa fa-sort-asc" st-class-descent="fa fa-sort-desc" st-skip-natural="true" st-sort="eliminar">
                                            Eliminar
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="ruta in rutas">
                                        <td>
                                            <span>{{ruta.folio}}</span>
                                        </td>
                                        <td>
                                            <span>{{ruta.operador}}</span>
                                        </td>
                                        <td>
                                            <span>{{ruta.unidad}}</span>
                                        </td>
                                        <td>
                                            <div class="label label-table" ng-style="{ 'background-color':'{{ruta.colorsit}}' }">{{ruta.situacion}}</div>
                                        </td>
                                        <td>
                                            <a class="btn btn-success  btn-icon" ng-click="verModalRuta(ruta,2)">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                        </td>
                                       
                                        <td>
                                            <a class="btn btn-danger btn-icon" ng-click="verModalRuta(ruta,3)">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--wizard-->


<div class="modal fade " id="modalOperador" tabindex="-1" role="dialog">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Selecciona Operador:</h4>
                <button type="button" class="close" ng-click="salirOpe()">&times;</button>
            </div>
            <br>
            <div class="modal-body">
                <div class="col-sm-12">
                    <div ng-show="listOperadores.length > 0" class="col-xs-12">
                        <table id="tblOperadores">
                            <thead>
                                <tr>
                                    <th st-class-ascent="fa fa-sort-asc" st-class-descent="fa fa-sort-desc" st-skip-natural="true" st-sort="nombre" st-sort="nombre">
                                        Nombre
                                    </th>
                                    <th st-class-ascent="fa fa-sort-asc" st-class-descent="fa fa-sort-desc" st-skip-natural="true" st-sort="telefono" st-sort="telefono">
                                        Telefono
                                    </th>
                                    <th st-class-ascent="fa fa-sort-asc" st-class-descent="fa fa-sort-desc" st-skip-natural="true" st-sort="editar">
                                        Seleciona
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="operador in listOperadores">
                                    <td>
                                        <span>{{operador.nombre}}&nbsp;{{operador.apellidoPaterno}}&nbsp;{{operador.apellidoMaterno}}</span>
                                    </td>
                                    <td>
                                        <span>{{operador.telefono}}</span>
                                    </td>
                                    <td>
                                        <a class="btn btn-info btn-icon" ng-click="seleccionaOpe(operador);">
                                             <i class="ti-export"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade " id="modalUnidad" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Selecciona Unidad:</h4>
                <button type="button" class="close" ng-click="salirUni()">&times;</button>
            </div>
            <br>
            <div class="modal-body">
                <div class="col-sm-12">
                    <div ng-show="listUnidades.length > 0" class="col-xs-12">
                        <table id="tblUnidades">
                            <thead>
                                <tr>
                                    <th st-class-ascent="fa fa-sort-asc" st-class-descent="fa fa-sort-desc" st-skip-natural="true" st-sort="descripcion">
                                        Marca
                                    </th>
                                    <th st-class-ascent="fa fa-sort-asc" st-class-descent="fa fa-sort-desc" st-skip-natural="true" st-sort="modelo">
                                        Modelo
                                    </th>
                                    <th st-class-ascent="fa fa-sort-asc" st-class-descent="fa fa-sort-desc" st-skip-natural="true" st-sort="color">
                                        Color
                                    </th>
                                    <th st-class-ascent="fa fa-sort-asc" st-class-descent="fa fa-sort-desc" st-skip-natural="true" st-sort="placas">
                                        Placas
                                    </th>
                                    <th st-class-ascent="fa fa-sort-asc" st-class-descent="fa fa-sort-desc" st-skip-natural="true" st-sort="tipo">
                                        Tipo
                                    </th>
                                    <th st-class-ascent="fa fa-sort-asc" st-class-descent="fa fa-sort-desc" st-skip-natural="true" st-sort="capacidad">
                                        capacidad
                                    </th>
                                    <th st-class-ascent="fa fa-sort-asc" st-class-descent="fa fa-sort-desc" st-skip-natural="true" st-sort="metrosCubicos">
                                        metrosCubicos
                                    </th>
                                    <th st-class-ascent="fa fa-sort-asc" st-class-descent="fa fa-sort-desc" st-skip-natural="true" st-sort="editar">
                                        Seleccionar
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="unidad in listUnidades">
                                    <td>
                                        <span>{{unidad.descripcion}}</span>
                                    </td>
                                    <td>
                                        <span>{{unidad.modelo}}</span>
                                    </td>
                                    <td>
                                        <span>{{unidad.color}}</span>
                                    </td>
                                    <td>
                                        <span>{{unidad.placas}}</span>
                                    </td>
                                    <td>
                                        <span>{{unidad.Tipo}}</span>
                                    </td>
                                    <td>
                                        <span>{{unidad.capacidad}}</span>
                                    </td>
                                    <td>
                                        <span>{{unidad.metrosCubicos}}</span>
                                    </td>
                                    <td>
                                        <a class="btn btn-info btn-icon" ng-click="seleccionaUni(unidad)">
                                                <i class="ti-export" ></i>
                                            </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
        </div>
    </div>
</div>


<!--Ruta crea la ruta-->
<div class="modal fade " id="modalAddRuta" tabindex="-1" role="dialog">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Ruta / Operador / Unidad</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <br>
            <div class="modal-body">
                <div class="col-sm-12" style="margin-top: 25px">
                    <div class="form-group" >
                        <label>Nombre:</label>
                        <div>
                            <input ng-disabled="bloquea" ng-model="nombreRuta" placeholder="" id="nombre" type="text" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group" ng-show="inputNewRuta">
                        <label>Descripción:</label>
                        <div>
                            <input ng-disabled="bloquea" ng-model="descripcion" placeholder="" id="apPaterno" class="form-control" rows="5">
                        </div>
                    </div>
                    <div class="form-group" style="overflow: hidden;">
                        <div class="col-sm-2 control-label" style="float: right;">
                            <a class="form-control btn btn-block btn-primary ti-plus" ng-click="getOperadores();" style="font-size: 11px"></a>
                        </div>
                        <label>Operador:</label>
                        <div> &nbsp; &nbsp; {{nombreOperador}}</div>
                    </div>
                    <div class="form-group" style="overflow: hidden;">
                        <div class="col-sm-2 control-label" style="float: right;">
                            <a class="form-control btn btn-block btn-primary ti-plus" ng-click="getUnidades();" style="font-size: 11px"></a>
                        </div>
                        <label>Unidad:</label>
                        <div> &nbsp; &nbsp;{{descripcionUni}} &nbsp; {{modelo}} </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="ruta(1)">Aceptar</button>
            </div>
        </div>
    </div>
</div>
