.query-container {
    max-height: 35vh;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    left: 8px;
    right: 0px;
    z-index: 100;
    background: white;
    -webkit-box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.5);
    box-shadow: 7px 4px 10px 0px rgba(50, 50, 50, 0.5);
}

.query-container input {
    width: 80px;
    margin: auto;
    display: block;
}

.cursor {
    cursor: pointer;
}

.headerModal {
    background-color: #2b425b;
}

.modal-header {
    padding: 1px;
}

.close:focus,
.close:hover {
    color: #fff;
}

.modal-body>.close,
.modal-header>.close {
    top: 30%;
}

.close {
    font-size: 30px;
}

.modal-dialog {
    margin-top: 1%;
}


/*Estilos input*/

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile+label {
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
}

.inputfile:focus+label,
.inputfile+label:hover {
    background-color: red;
}

.inputfile+label {
    cursor: pointer;
    /* "hand" cursor */
}

.inputfile:focus+label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile-4+label {
    color: #d3394c;
}


/**/